
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Sample</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/fa/all.min.css">
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="container p-3">
        <h2 class="text-center">Vue js Sample Application</h2>
        <p class="text-center">Using Vue with script tag.</p>
        <div class="card my-3 px-5 py-3">
          <div class="toplinks offset-8 d-flex mb-4">
              <div class="cartitem ml-auto">
                <button class="btn btn-outline-danger">
                  <span class="fas fa-heart"></span>
                  <span class="mx-2">Your Wishlist ({{wishlist}})</span>
                </button>
              </div>
              <div class="cartitem ml-auto mr-0">
                <button class="btn btn-info">
                  <span class="fas fa-cart-arrow-down"></span>
                  <span class="mx-2 font-weight-bold">Your Cart ({{cart}})</span>
                </button>
              </div>
          </div>
          <!-- end toplinks -->
          <div class="row">
            <div class="image-box col-sm-6">
              <img :src="products.image" alt="" class="img-fluid">
            </div>
  
            <div class="info bg-light col-sm-6 py-3">
              <div class="info-row row">
                <div class="col-10">
                    <h3 class="px-3">T-Shirt {{products.color}}</h3>
                    <h5 class="px-3 text-muted">By <a href="#" class="">{{products.brand}}</a></h5>
                </div>
                <div class="col-2">
                  <h4 class="p-2">
                      <a href="javascript:void(0);" class="btn-wishlist" @click='addwish'>
                        <span class="fa-heart text-danger" v-bind:class="[{'fas' : products.wish},{'far' : !products.wish} ]"></span>
                      </a>
                  </h4>
                </div>
              </div>
  
              <div class="about bg-light p-3">
                <h5 class="">About the product</h5>
                <p class="product-about">T-shirt by {{products.brand}}. Great fabric, great fit, comes in 4 colors and 3 sizes.</p>
              </div>
  
              <div class="priceinfo row px-3">
                <div class="col-sm-6 price px-3 mb-3">
                  <p class="mb-0">Price</p>
                  <h3 class="">
                    <span class="text-muted small fas fa-rupee-sign"></span>
                    <span class="font-weight-bold text-success"> {{products.price}}</span>
                  </h3>
                </div>
                <div class="col-sm-6 stock px-3 mb-3">
                  <p class="mb-2">Stock</p>
                  <h5 class="">
                    <span class="text-danger" v-if="products.stock < 5 && products.stock > 0">Only {{products.stock}} left</span>
                    <span class="text-black-50" v-if="products.stock == 0">Out of stock</span>
                    <span class="text-success" v-if="products.stock > 4">In stock {{products.stock}}</span>
                    
                  </h5>
                </div>
              </div>

              <div class="selects px-3 row">
                <div class="col-4">
                  <p class="mb-1">Size</p>
                  <select name="size" id="size">
                    <option value="small">S</option>
                    <option value="medium">M</option>
                    <option value="large">L</option>
                  </select>
                </div>
                <div class="col-4">
                  <p class="mb-1">Quantity</p>
                  <select name="qty" id="qty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <!-- end selects -->
              <div class="colors px-3 my-3">
                <p class="mb-1">Colors</p>
                <ul class="list-inline">
                  <li class="list-inline-item dots" v-for="type in products.types" :key="type.color"
                       v-bind:class="type.color" @click="updateProduct(type)">
                    <a href="" class=""></a>
                  </li>
                </ul>
              </div>

              <div class="cart mt-5">
                <a href="javascript:void(0);" class="btn btn-lg btn-secondary btn-block"
                   v-bind:class="[{'disabled' : products.stock == 0}, {'btn-success': products.stock}]"  @click='addcart'>
                  <span class="fa fa-cart-plus"></span>
                  <span class="mx-2">Add to Cart</span>
                </a>
              </div>
            </div>
            <!-- end info -->
          </div>
          <!-- end row inside card -->
        </div>
        <!-- end card -->
      </div>
      <!-- end container -->
    </div>      

    <script src="js/vue-dev.js"></script>
    <!-- <script src="js/vuelidate.min.js"></script> -->
    <!-- <script src="js/validators.min.js"></script> -->
  </body>
</html>

<script>
  const app = new Vue({
    el:'#app',
    data: {
      products: {
        color: 'Red',
        price: '1200',
        brand: 'Nike',
        image: 'img/red.jpg',
        wish: false,
        stock: 12,
        types: [
          {
            color: 'Red',
            price: '1200',
            brand: 'Nike',
            image: 'img/red.jpg',
            wish: true,
            stock: 12
          },
          {
            color: 'Black',
            price: '600',
            brand: 'Puma',
            image: 'img/black.jpg',
            wish: false,
            stock: 2
          },
          {
            color: 'Blue',
            price: '900',
            brand: 'Adidas',
            image: 'img/blue.jpg',
            wish: false,
            stock: 4
          },
          {
            color: 'Indigo',
            price: '1000',
            brand: 'Reebok',
            image: 'img/indigo.jpg',
            wish: true,
            stock: 0
          },
          {
            color: 'White',
            price: '400',
            brand: 'Thrift Shop',
            image: 'img/white.jpg',
            wish: false,
            stock: 5
          }
        ]
      },
      cart : 0,
      wishlist: 0
    },
    methods: {
      addcart : function(){
        this.cart += 1;
      },
      addwish : function(){
        this.wishlist += 1;
      },
      updateProduct : function(type){
        this.products.color = type.color;
        this.products.price = type.price;
        this.products.brand = type.brand;
        this.products.image = type.image;
        this.products.stock = type.stock;
        this.products.wish = type.wish;
      }
    }
  })
</script>